### 튜플(tuple), 세트(set), 딕셔너리(dictionary)에 관하여 진도를 나감. - 다양한 데이터 표현

In [1]:
x = [1, 2, 3] #리스트
x[1] = 7
print(x)

[1, 7, 3]

##### 튜플(tuple)은 선언을 대괄호[ ]가 아닌 소괄호( )로 선언하면 된다. + x = (4)는 튜플로 인식하지 않고 수식으로 인식을 한다. 튜플로 인식을 하기 위해서는 x = (4, )처럼 쉼표가 끝에 있어야 한다.
##### 튜플의 특징으로는 튜플의 값을 변경할 수 없다. 즉 데이터나 값의 변경을 할 수 없게(수정 금지) 하는 것이 가장 큰 특징이다.
###### 아래 코드는 튜플로 선언을 했는데 내부 값을 변경을 시도하는 코드로써 당연히 결과는 에러가 뜬다.

In [2]:
x = (1, 2, 3) #튜플(tuple)
x[1] = 7
print(x)

TypeError: 'tuple' object does not support item assignment

#### 아래 코드는 튜플을 리스트로 변경(생성)하는 함수와 리스트를 튜플로 변경(생성)하는 함수의 사용 예 이다. 윗코드는 튜플로 선언했지만 리스트로 변경하는 함수를 사용하였기 때문에 값이 변경됬지만 아래 코드는 리스트로 선언되었어도 최종적으로는 튜플로 변경되었기 때문에 값을 변경할 수 없어 에러가 뜬다.

In [ ]:
x = (4, 5, 6)
x = list(x) #list()는 리스트를 생성하는 함수
x[1] = 7
print(x)

x = [4, 5, 6]
x = tuple(x) #tuple()는 튜플을 생성하는 함수
x[1] = 7
print(x)

##### 아래 코드는 튜플끼리 +, +=의 연산자를 통해 합치는 코드이다. 결과로는 (1, 2, 3, 5, 6)으로 2개의 튜플이 합쳐진 것을 알 수 있다.

In [5]:
x = (1, 2, 3)   #튜플끼리 데이터 병합은 가능하다.
y = (5, 6)
i = x + y
print(i)

(1, 2, 3, 5, 6)

##### 튜플의 또 다른 특징으로 언패킹이 있다. 튜플 x의 데이터를 변수 a, b, c에 개별로 저장이 가능한 기능이다. 아래코드느 예제코드

In [ ]:
x = (1, 2, 3)
a, b, c = x     #(언패킹) x의 데이터를 -> a,b,c에 개별로 저장 하는것이 가능하다.
print(a,b,c)

In [13]:
x = ("허진영", 2305008)
a, b = x
print(a)
print(b)

허진영
2305008

##### 패킹과 언패킹을 활용하여 데이터 값의 순서를 변경하는 예제 코드이다.

In [12]:
x = (1, 2)      #패킹과 언패킹을 활용하여 데이터 값의 순서를 변경할 수 있다.
a, b = x        #a와 b라는 변수에 튜플x의 값을 각각 저장한다.
b, a = (a, b)   #b와 a 변수에 튜플 x의 값이 저장된 a, b의 데이터 값을 저장한다.
print(a, b)

2 1

##### enumerate() 함수 사용예제

In [15]:
x = ["수박", "복숭아", "포도"]      #enumerate 함수의 사용 예제 해당 함수는 데이터 값 뿐만 아니라 index 값도 같이 찍어준다.
print(x)

for a, b in enumerate(x) :         #a(index), b(데이터 값)
    print(a, b)

['수박', '복숭아', '포도']
0 수박
1 복숭아
2 포도

3주차 시작 p257. 세트(set)
set 선언
변수명 = set()